<div class="section section-Intro">
	<div class="inner-wrapper">
		<div class="swiper image-Big" id="swiper_5a821142a03ef">
        	<div class="text-wrapper-big2" style="background-color:#ffffff;" data-textcolor="black">
				<div class="absoluteImage"><%= image_tag("holding.jpeg") %></div>
                <div class="subtext is_black">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Coming soon!</font>
					</font><br>
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">For now, get in touch</font>
					</font><br>
				</div>
            </div>
        	<div class="down-wrapper is_black" data-textcolor="white">
				<svg class="svg svg--arrow_down js_down" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "></polygon>
				</svg>
        	</div>
        </div>
	</div>
</div>