<div class="section section-Intro">
	<div class="inner-wrapper">
		<div class="swiper image-Big" id="swiper_5a821142a03ef">
        	<div class="text-wrapper-big" style="background-color:#e4e5e6;" data-textcolor="black">
                <div class="subtext is_black">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">We've been busy: </font>
					</font><br>
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Have a look at our latest placements.</font>
					</font>
				</div>
            </div>
        	<div class="down-wrapper is_black" data-textcolor="black">
				<svg class="svg svg--arrow_down js_down" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "></polygon>
				</svg>
        	</div>
        </div>
	</div>
</div>
<div class="section section-title">
	<h1><font style="vertical-align: inherit;"><br/><br/><font style="vertical-align: inherit;">latest placements</font></font></h1>
</div>
<div class="section section-GridElement  grid-size-threes has_hover">
	<div class="inner-wrapper">
    	<a class="grid-item" href="#">
    		<div class="image-wrapper o_image-parent">    
				<picture>
					<img src="./assets/mother.jpeg" 
					class="image js_image-cover o_image--fit-height" sizes="1400px" alt="" title="">
				</picture>                
			</div>
            <div class="linkText button ">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Mother!</font>
				</font>
				<svg class="svg svg--arrow-right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 8" enable-background="new 0 0 20 8" xml:space="preserve">
					<g>
						<line clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" x1="19.2" y1="4" x2="0.6" y2="4"></line>
						<polyline clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" points="15.3,7.6 19.2,4 15.3,0.4 	"></polyline>
					</g>
				</svg>
			</div>
		</a>
		<a class="grid-item" href="#">
    		<div class="image-wrapper o_image-parent">    
				<picture>
					<img src="./assets/bladeRunner.jpg" 
					class="image js_image-cover o_image--fit-height" sizes="1400px" alt="" title="">
				</picture>                
			</div>
            <div class="linkText button ">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Blade Runner 2049</font>
				</font>
				<svg class="svg svg--arrow-right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 8" enable-background="new 0 0 20 8" xml:space="preserve">
					<g>
						<line clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" x1="19.2" y1="4" x2="0.6" y2="4"></line>
						<polyline clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" points="15.3,7.6 19.2,4 15.3,0.4 	"></polyline>
					</g>
				</svg>
			</div>
		</a>
		<a class="grid-item" href="https://www.youtube.com/embed/IsAlKzokl-8" onclick="return loadIframe('ifrm', this.href);">
    		<div class="image-wrapper o_image-parent">    
				<picture>
					<img src="./assets/gbcr.jpg" 
					class="image js_image-cover o_image--fit-height" sizes="1400px" alt="" title="">
				</picture>                
			</div>
            <div class="linkText button ">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Goodbye Christopher Robin</font>
				</font>
				<svg class="svg svg--arrow-right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 8" enable-background="new 0 0 20 8" xml:space="preserve">
					<g>
						<line clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" x1="19.2" y1="4" x2="0.6" y2="4"></line>
						<polyline clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" points="15.3,7.6 19.2,4 15.3,0.4 	"></polyline>
					</g>
				</svg>
			</div>
		</a>
	</div>
	<div class="inner-wrapper flex-list" style="margin-top:60px;margin-bottom:60px;">
		
	<ul style="margin:0px 64px 60px 64px;font-size:14px;">
		    <li><a href="https://player.vimeo.com/video/230871042" onclick="return loadIframe('ifrm', this.href);">Mother!</a></li>
		    <li><a href="https://player.vimeo.com/video/222859653" onclick="return loadIframe('ifrm', this.href);">God's Own Country</a></li>
			<li><a href="https://www.youtube.com/embed/5Nzd0vBfBEA" onclick="return loadIframe('ifrm', this.href);">Linkedin</a></li>
			<li><a href="https://www.youtube.com/embed/88CeoDLxebg" onclick="return loadIframe('ifrm', this.href);">Call Of Duty</a></li>
			<li><a href="https://www.youtube.com/embed/cZxOvNxbi7U" onclick="return loadIframe('ifrm', this.href);">Annie Leibovitz</a></li>
			<li><a href="https://player.vimeo.com/video/217831651" onclick="return loadIframe('ifrm', this.href);">The Mummy</a></li>
			<li><a href="https://player.vimeo.com/video/123636844" onclick="return loadIframe('ifrm', this.href);">The Waking Dead</a></li>
			<li><a href="https://player.vimeo.com/video/146642051" onclick="return loadIframe('ifrm', this.href);">Toyota</a></li>
			<li><a href="https://player.vimeo.com/video/217844611" onclick="return loadIframe('ifrm', this.href);">Thelma</a></li>
			<li><a href="https://player.vimeo.com/video/158895679" onclick="return loadIframe('ifrm', this.href);">My Beautiful Broken Brain</a></li>
			<li><a href="https://player.vimeo.com/video/132079272" onclick="return loadIframe('ifrm', this.href);">Knorr</a></li>
			<li><a href="https://player.vimeo.com/video/192495466" onclick="return loadIframe('ifrm', this.href);">Captive</a></li>
			<li><a href="https://player.vimeo.com/video/152558605" onclick="return loadIframe('ifrm', this.href);">Curzon</a></li>
			<li><a href="https://player.vimeo.com/video/246425488" onclick="return loadIframe('ifrm', this.href);">7 Days In Entebbe</a></li>
			<li><a href="https://player.vimeo.com/video/192916654" onclick="return loadIframe('ifrm', this.href);">Collateral Beauty</a></li>
			<li><a href="https://player.vimeo.com/video/198211359" onclick="return loadIframe('ifrm', this.href);">Sully</a></li>
			<li><a href="https://player.vimeo.com/video/217012129" onclick="return loadIframe('ifrm', this.href);">The Limehouse Golum</a></li>
			<li><a href="https://player.vimeo.com/video/243667475" onclick="return loadIframe('ifrm', this.href);">A Quiet Place</a></li>
			<li><a href="https://player.vimeo.com/video/217483760" onclick="return loadIframe('ifrm', this.href);">6 Days</a></li>
		</ul>
		<div class="iframe">
			<iframe name="ifrm" id="ifrm" src="https://player.vimeo.com/video/230871042" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>