.textField {width:30%;margin:0% 1.5%;float:left;}
.textField2 {width:47%;margin:0% 1.5%;float:left;}
.textArea {width:96%;margin:0 1.5%;}
.vimeoSectionInForm {width:96%;margin:10px 1.5%;border:1px dotted white;float:left;padding:10px 16px 16px 16px;border-radius:5px;}
.customTitles, .smallText {margin:10px;font-size:28px;}
.formContent {padding:0% 8% 0% 4%;}
.fullWidthField {width:96%;margin:10px 1.5%;float:left;border:1px dotted white;border-radius:5px;padding:10px 16px 16px 16px;}
.submitLarge {width:96%;margin:2% 1.5% 10%;float:left;text-align:center;}
.btnLarge {width:150px;height:60px;}
.customVideoTitle {font-size:14px!important;margin:10px 0px 30px 0px;text-align:center;}
.userInfo {position:absolute;}
.mobile {display:none;}
.thumb {width:225px}
.thumb2 {width:100px!important}
.thumb3 {width:60px}
.thumb .img, .thumb2 .img,, .thumb3 .img {max-width:100%!important;}
.align-right {text-align:right;}
.userInfo {position:absolute;width:20%;top:10px;left:12%;font-size:14px;color:#ffffff;font-style:italic;text-align:right;z-index:1000;}
.cmsTable {padding:0px 20px;}
.csvInput {float:left;margin:20px 0px 25px -155px;}
.csvInput2 {float:left;margin:20px 0px 25px 0px;}
.csvInput3 {float:left;margin:20px 0px 25px 12px;}
.csvInput4 {float:left;margin:20px 0px 25px -155px;}
.marginCsv {margin:-10px 0px 0px 0px;}
.marginCsv2 {margin:-10px 0px 0px 0px;}
.ten {width:10%!important;}
.thirty {width:30%!important;}
.five {width:5%!important;}
td {font-size:12px;}
.titles2 {display:inline;font-size:20px;margin:0px 20px;text-decoration:none;color:#000000;}
.titles2 a:hover {text-decoration:none;}
.titles2 :nth-child(1){margin:0px 20px 0px -20px;}