footer {
    display: block;
    float: left;
    width: 100%;
    position: relative
}

.footer-placeholder {
    float: left;
    display: block;
    position: relative;
    width: 100%
}

@media only screen and (max-width: 579px) {
    .footer-placeholder {
        display: none
    }
}

.footer {
    background-color: #000;
    height: auto;
    display: block;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0
}

@media only screen and (max-width: 579px) {
    .footer {
        position: relative
    }
}

.footer .main-content {
    margin: 0 auto;
    text-align: center;
    color: #fff
}

@media only screen and (max-width: 579px) {
    .footer .main-content {
        width: 240px
    }
}

.footer .main-content .nl_input_headline {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: .9em;
    line-height: 1em;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    margin-top: 4em
}

.footer .main-content .nl_input-wrapper {
    margin-top: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer .main-content .nl_input-wrapper.has_error .mailchimp-input {
    border: 1px solid #d93939
}

.footer .main-content .nl_input-wrapper.has_error .submit-button {
    border-top: 1px solid #d93939;
    border-right: 1px solid #d93939;
    border-bottom: 1px solid #d93939
}

.footer .main-content .nl_input-wrapper .mailchimp-input {
    font-family: "TimesNRCondensedItalic", "Times New Roman", "Helvetica", "Arial";
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    padding: 0.4em 0em;
    width: 180px;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
    float: left;
	text-align:center;
}

.footer .main-content .nl_input-wrapper .mailchimp-input::-webkit-input-placeholder {
    color: #fff
}

.footer .main-content .nl_input-wrapper .mailchimp-input::-moz-placeholder {
    color: #fff
}

.footer .main-content .nl_input-wrapper .mailchimp-input:-ms-input-placeholder {
    color: #fff
}

.footer .main-content .nl_input-wrapper .mailchimp-input:-moz-placeholder {
    color: #fff
}

.footer .main-content .nl_input-wrapper .submit-button {
    position: relative;
    width: 5em;
    height: 3.1em;
    background-color: #000;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.25s ease-in-out, border 0.3s ease-in-out;
    transition: background-color 0.25s ease-in-out, border 0.3s ease-in-out;
    float: left
}

.footer .main-content .nl_input-wrapper .submit-button .svg--arrow-right {
    position: absolute;
    width: 50%;
    right: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.footer .main-content .nl_input-wrapper .submit-button .svg--arrow-right polyline,
.footer .main-content .nl_input-wrapper .submit-button .svg--arrow-right line {
    -webkit-transition: stroke 0.25s ease-in-out;
    transition: stroke 0.25s ease-in-out;
    stroke: #fff
}

.footer .main-content .nl_input-wrapper .submit-button:hover {
    background-color: #fff
}

.footer .main-content .nl_input-wrapper .submit-button:hover .svg--arrow-right polyline,
.footer .main-content .nl_input-wrapper .submit-button:hover .svg--arrow-right line {
    stroke: #000
}

.footer .main-content .address {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    margin-top: 2em;
    line-height: 1.5em
}

.footer .main-content .contact-wrapper {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    margin-top: 0.2em;
    line-height: 1.5em
}

.footer .main-content .contact-wrapper .tel {
    display: inline-block;
    width: auto;
    color: #fff;
    text-decoration: none
}

.footer .main-content .contact-wrapper .email {
    display: inline-block;
    width: auto;
    color: #fff;
    text-decoration: none
}

.footer .main-content .open_times {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    margin-top: 2em;
    line-height: 1.5em
}

.footer .bottom-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3em;
    height: 3em
}

.footer .bottom-line .column {
    width: 46%;
    color: #fff
}

.footer .bottom-line .column-1 {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: .9em;
    line-height: 1em;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    margin-left: 4%
}

.footer .bottom-line .column-2 {
    margin-right: 4%;
    text-align: right
}

.footer .bottom-line .column-2 .menu__items .menu__item {
    display: inline-block;
    margin-left: 1em
}

.footer .bottom-line .column-2 .menu__items .menu__item:first-of-type {
    margin-left: 0
}

.footer .bottom-line .column-2 .menu__items .menu__item .menu__entry {
    font-family: "Futura", "Helvetica", "Arial";
    font-size: .9em;
    line-height: 1em;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    color: #fff
}