
.section-GridElement .inner-wrapper {
    position: relative;
    width: 90%;
    display: block;
    max-width: 1140px;
    margin: 0 auto
}

@media only screen and (max-width: 768px) {
    .section-GridElement .inner-wrapper {
        width: 100%
    }
}

.section-GridElement .inner-wrapper a.grid-item {
    cursor: pointer
}

.section-GridElement .inner-wrapper .grid-item {
    width: 24%;
    height: 0;
    padding-bottom: 24%;
    position: relative;
    display: inline-block
}

@media only screen and (max-width: 768px) {
    .section-GridElement .inner-wrapper .grid-item {
        width: 32%;
        padding-bottom: 32%
    }
}

@media only screen and (max-width: 579px) {
    .section-GridElement .inner-wrapper .grid-item {
        width: 48%;
        padding-bottom: 48%
    }
}

.section-GridElement .inner-wrapper .grid-item .image-wrapper {
    width: 67%;
    padding-bottom: 100%;
    display: block;
    margin-top: 25%;
    margin: 15% auto 0 auto;
    opacity: 1;
    -webkit-transition: opacity 0.65s ease-in-out;
    transition: opacity 0.65s ease-in-out
}

.section-GridElement .inner-wrapper .grid-item .linkText {
    display: inline-block;
    font-size: 1em;
    bottom: 1em;
    -webkit-transition: opacity .45s ease-out, -webkit-transform 0.45s ease-out;
    transition: opacity .45s ease-out, -webkit-transform 0.45s ease-out;
    transition: transform 0.45s ease-out, opacity .45s ease-out;
    transition: transform 0.45s ease-out, opacity .45s ease-out, -webkit-transform 0.45s ease-out;
    -webkit-transform: translate(-8em, 0);
    -ms-transform: translate(-8em, 0);
    transform: translate(-8em, 0);
    opacity: 0
}

@media only screen and (min-width: 769px) {
    .ios .section-GridElement .inner-wrapper .grid-item .linkText,
    .section-GridElement .inner-wrapper .grid-item .linkText:hover {
        color: #fff;
        background-color: #000
    }
    .ios .section-GridElement .inner-wrapper .grid-item .linkText svg polyline,
    .ios .section-GridElement .inner-wrapper .grid-item .linkText svg line,
    .section-GridElement .inner-wrapper .grid-item .linkText:hover svg polyline,
    .section-GridElement .inner-wrapper .grid-item .linkText:hover svg line {
        stroke: #fff !important
    }
}

.section-GridElement .inner-wrapper .grid-item .linkNumber {
    font-family: "TimesNRCondensedItalic", "Times New Roman", "Helvetica", "Arial";
    font-size: 5.6em;
    line-height: 1em;
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 16%;
    right: 25%;
    position: absolute;
    -webkit-transition: opacity .65s ease-out, -webkit-transform 0.65s ease-out;
    transition: opacity .65s ease-out, -webkit-transform 0.65s ease-out;
    transition: transform 0.65s ease-out, opacity .65s ease-out;
    transition: transform 0.65s ease-out, opacity .65s ease-out, -webkit-transform 0.65s ease-out;
    -webkit-transform: translate(0, -0.5em);
    -ms-transform: translate(0, -0.5em);
    transform: translate(0, -0.5em);
    opacity: 0
}

@media only screen and (min-width: 769px) {
    .ios .section-GridElement .inner-wrapper .grid-item .linkText,
    .ios .section-GridElement .inner-wrapper .grid-item .linkNumber,
    .section-GridElement .inner-wrapper .grid-item:hover .linkText,
    .section-GridElement .inner-wrapper .grid-item:hover .linkNumber {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
    .ios .section-GridElement .inner-wrapper .grid-item .image-wrapper,
    .section-GridElement .inner-wrapper .grid-item:hover .image-wrapper {
        opacity: 0.6
    }
}

.section-GridElement.grid-size-threes .inner-wrapper .grid-item {
    width: 33%;
    height: 0;
    padding-bottom: 33%;
    position: relative;
    display: inline-block
}

.section-GridElement.grid-size-threes .inner-wrapper a.grid-item {
    cursor: pointer
}

@media only screen and (max-width: 768px) {
    .section-GridElement.has_hover .grid-item {
        padding-bottom: 0;
        width: 100%;
        text-align: center;
        height: auto;
        display: block !important;
        margin: 0 auto !important;
        width: auto !important;
        height: auto !important;
        position: relative !important;
        padding: 1.3em 0 !important
    }
}

@media only screen and (max-width: 768px) {
    .section-GridElement.has_hover .grid-item:hover .linkNumber {
        opacity: 0
    }
}

@media only screen and (max-width: 768px) {
    .section-GridElement.has_hover .grid-item .image-wrapper {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 100%
    }
    .home .section-GridElement.has_hover .grid-item .image-wrapper {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .section-GridElement.has_hover .grid-item .linkText {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
        opacity: 1;
        position: absolute;
        bottom: 2px;
        right: 3em
    }
    .home .section-GridElement.has_hover .grid-item .linkText {
        background: transparent;
        border: 0;
        color: #000;
        padding: 0;
        font-size: 1.7em;
        position: relative;
        right: auto;
        bottom: auto
    }
    .home .section-GridElement.has_hover .grid-item .linkText svg {
        display: none
    }
    .section-GridElement.has_hover .grid-item .linkText:hover {
        color: #000;
        background-color: #fff
    }
}