<div class=""></div>
	<footer>
		<div class="footer-placeholder"></div>
		<div class="footer">
		<!-- https://sachs-wohnen.us12.list-manage.com/subscribe/post?u=182f213fb30485ba94fdf9130&amp;id=c18e551b14 -->
		<!-- <div class="footer-wrapper"> -->
		<div class="main-content">
			<div class="nl_input_headline"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Newsletter</font></font></div>
				<div class="nl_input-wrapper">
					<div class="newsletter-wrapper">
						<!-- 182f213fb30485ba94fdf9130&amp;id=c18e551b14  richtige-->
						<!-- 182f213fb30485ba94fdf9130&amp;id=a865a8cbd1  test-->
						<form action="http://sachs-wohnen.us12.list-manage.com/subscribe/post-json?u=182f213fb30485ba94fdf9130&amp;id=a865a8cbd1&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group input-field">
									<input type="email" name="EMAIL" id="mce-EMAIL" class="mailchimp-input" data-placeholder="Email" data-thx="Danke!" placeholder="emailadresse" email="">
					    			<label class="submit-button js_send-nl" for="mc-embedded-subscribe">
										<svg class="svg svg--arrow-right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 8" enable-background="new 0 0 20 8" xml:space="preserve">
											<g>
												<line clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" x1="19.2" y1="4" x2="0.6" y2="4"></line>
												<polyline clip-path="url(#SVGID_2_)" fill="none" stroke="#FFFFFF" stroke-width="0.9" points="15.3,7.6 19.2,4 15.3,0.4 	"></polyline>
											</g>
										</svg>
									</label>
					    			<div style="position: absolute; left: -5000px;" aria-hidden="true">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">
												<input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="link link-subscribe js_send-nl">
											</font>
										</font>
									</div>
								</div>
							</div>
							<!-- b_182f213fb30485ba94fdf9130_c18e551b14  richtige-->
							<!-- b_182f213fb30485ba94fdf9130_a865a8cbd1  test-->
				    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_182f213fb30485ba94fdf9130_a865a8cbd1" tabindex="-1" value=""></div>
						</form>
					</div>
				</div>
				<div class="address"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Elephant Music, Village Underground, 53 Holywell Lane, London</font></font></div>
		<div class="contact-wrapper">
			<a href="tel:0043021672000" class="tel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tel: +44 (0) 7595 307125, </font></font></a>
			<a href="mailto:info@elephantmusic.net" class="email"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">info@elephantmusic.net</font></font></a>
		</div>
	</div>
		<div class="bottom-line">
		<a href="#" target="_blank" class="column column-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Instagram</font></font></a>
		<div class="column column-2">
			<ul class="menu__items menu__level0">
				<li class="menu__item menu__item--agb menu__item--first">
					<a href="#" target="_blank" class="menu__entry menu__entry--agb menu__entry--first link--document link--file">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook</font></font></span>
					</a>
				</li>
				<li class="menu__item menu__item--impressum menu__item--last">
					<a href="#" class="menu__entry menu__entry--impressum menu__entry--last">
						<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Linkedin</font></font></span>
					</a>

				</li>
			</ul>
		</div>
	</div>
</footer>