<body class="">
    <div class="offcanvas__container offcanvas--trigger">
    	<nav id="nav" class="navbar navbar-default navbar-absolute-top navbar-fixed-top" role="navigation" style="top: 0px;">
   			<div class="visible-md visible-lg">
        		<a href="#" title="Home" class="navbar-header">LOGO HERE</a>
        	 	<div id="navbar" class="navbar-collapse collapse">
            		<ul class="nav navbar-nav">
	         			<li class=""><a href="">Menu #1</a></li>
	            		<li class=""><a href="">Menu #2</a></li>
	            		<li class=""><a href="">Menu #3</a></li>
	            		<li class=""><a href="">Menu #4</a></li>
	            		<li class=""><a href="">Menu #5</a></li>
					</ul>
            		<div class="navbar-right">
            			<ul class="nav navbar-nav navbar-login">
                    		<li class="paddmysides"><span>Logged in as<br/></span>NAME</li>
                    		<li><a href="" class="btn btn-default">CMS</a></li>
                		</ul>
       	 			</div>
        		</div>
    		</div>
			<div class="visible-xxs visible-xs visible-sm">
        		<div class="navbar navbar-default " role="navigation">
            		<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
					</button>
					<a href="" title="Home" class="navbar-header">LOGO HERE</a>
        		</div>
    		</div>
		</nav>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas navbar-collapse offcanvas--showhide" id="sidebar" role="navigation">
    		<div class="visible-xxs visible-xs visible-sm">
        		<div class="row">
            		<div class="sidebar-nav">
               		<a href="" title="Home" class="navbar-header">LOGO HERE</a>
            		<ul class="nav navbar-nav">
	         			<li class=""><a href="">Menu var(--black-color)</a></li>
	            		<li class=""><a href="">Menu #2</a></li>
	            		<li class=""><a href="">Menu #3</a></li>
	            		<li class=""><a href="">Menu #4</a></li>
	            		<li class=""><a href="">Menu #5</a></li>
            		</ul>
            	</div>
         	</div>
    	</div>
	</div>
	<div class="offcanvas--pusher-container">
		<div class="offcanvas--pusher">
	    	<div id="home_page">
	    		<article role="main">
					<section class="news__container">
	    				<div class="container-fluid">
	       					<div class="row">
	              			  	<div class="col-xxs-10 col-xxs-push-1 col-sm-12 col-sm-push-0">
	      							<figure class="new__item news__item--push-down">
	                					<%= yield %>
	            				  	</figure>
	    						</div>
	          			  	</div>
	            	  	</div>
					</section>
				</article>
			</div>
		</div>
	</div>
	<div class="footerWrap">
		<footer class="footer">
	    	<div class="container-fluid">
	        	<div class="row">
	            	<div class="col-xxs-10 col-xxs-push-1 col-sm-12 col-sm-push-0">
	                	<a href="" title="Home" class="footer__logo">LOGO HERE</a>
	            	</div>
	       	 	</div>
	        	<div class="row">
	            	<nav class="col-xxs-8 col-xxs-push-2 col-sm-12 col-sm-push-0">
	                	<ul class="list-unstyled footer__nav">
	 						<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #1</a></li> 
							<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #2</a></li>
							<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #3</a></li>                      
							<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #4</a></li> 
							<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #5</a></li>
							<li class="col-xxs-12 col-sm-2"><a href="" class="footer__nav-link">MENU #6</a></li>
						</ul>
	            	</nav>
	        	</div>
	    	</div>
	    	<div class="container-fluid">
	        	<div class="row">
	            	<nav class="col-xxs-10 col-xxs-push-1 col-sm-6 col-sm-push-0 footer__subnav-container">
	                	<ul class="list-unstyled footer__subnav">
	 					   <li><a href="" class="footer__subnav-link">Submenu #1</a></li>                      
						   <li><a href="" class="footer__subnav-link">Submenu #2</a></li>                      
						   <li><a href="" class="footer__subnav-link">Submenu #3</a></li>
					    </ul>
	            	</nav>
	            	<div class="col-xxs-10 col-xxs-push-1 col-sm-6 col-sm-push-0">
	                	<small class="footer__legal">© 2017 Company name</small>
	            	</div>
	        	</div>
	    	</div>
			<a href="#" title="Close Navigation" class="offcanvas__close offcanvas--showhide"></a>
		</footer>
	</div>
    
	<%= javascript_include_tag 'footer', 'data-turbolinks-track' => true %>
</body>