<div class="site">
	<div class="text-right is_black">
		<font style="vertical-align: inherit;">
			<% if controller_name == "admins" || controller_name == "admin" %>
				<font style="vertical-align: inherit;">Content management</font>
			<% else %>
				<font style="vertical-align: inherit;">Unique music to picture</font>
			<% end %>
		</font>
	</div>
	<div class="menu-wrapper-mobile">
		
	</div>
	<%= yield %>
</div><!-- SITE END -->