<div class="menu">
	<div class="xerl js_closeMenu"><!--?xml version="1.0" ?-->
		<svg class="svg svg--xerl" data-name="Layer 1" id="Layer_1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<style>.cls-1{fill:none;stroke:#231f20;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style>
			</defs>
			<title></title>
			<line class="cls-1" x1="1" x2="47" y1="47" y2="1"></line>
			<line class="cls-1" x1="1" x2="47" y1="1" y2="47"></line>
		</svg>
	</div>
	<div class="featuredImg" style="background:url() center center no-repeat; background-size:cover;"></div>
	<div class="menu-list">
    	<font style="vertical-align: inherit;">
			<a href="#" class="menu_item">
				<span class="text">
					<font style="vertical-align: inherit;">Instagram </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="strichis">
					<font style="vertical-align: inherit;">__ </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="text">
					<font style="vertical-align: inherit;">Facebook </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="strichis">
					<font style="vertical-align: inherit;">__ </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="text">
					<font style="vertical-align: inherit;">Linkedin </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="strichis">
					<font style="vertical-align: inherit;">__ </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="text">
					<font style="vertical-align: inherit;">Youtube </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="strichis">
					<font style="vertical-align: inherit;">__ </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="text">
					<font style="vertical-align: inherit;">Vimeo </font>
				</span>
			</a>
			<a href="#" class="menu_item">
				<span class="strichis">
					<font style="vertical-align: inherit;">__ </font>
				</span>
			</a>
		</font>
    </div>
	<div class="menu_list_2">
            <a href="#" class="menu_item_2"></a>
            <a href="#" class="menu_item_2"></a>
    </div>
</div>
<div class="burger-icon js_openMenu is_black">
	<svg class="svg svg--burger_icon" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg">
		<!-- <path d="M0 0h48v48h-48z" fill="none"/> -->
		<path d="M6 36h36v-4h-36v4zm0-10h36v-4h-36v4zm0-14v4h36v-4h-36z"></path>
	</svg>
</div>