<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1">

	<title>Elephant Music | Unique music to picture</title>
	
	<meta name="theme-color" content="#ffffff">
	<meta name="robots" content="noindex,follow">
	
	<% if controller_name == "admins" || controller_name == "admin" %>
		<%= javascript_include_tag 'adminApplication', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'adminApplication', media: 'all', 'data-turbolinks-track' => true %>
	<% else %>
		<%= javascript_include_tag 'mainApplication', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'mainApplication', media: 'all', 'data-turbolinks-track' => true %>
	<% end %>
	
</head>
	<body>
		<div class="text">
			<h1>New site coming April 2018</h1>
			<a href="mailto:vik@elephantmusic.net?Subject=Website%20contact" target="_top">vik@elephantmusic.net</a>
		</div>
	</body>
</html>